* {
    box-sizing: border-box;
}
.App {
    text-align: center;
    min-height: 100vh;
}

.dark {
    background-color: #282c34;
    color: white;
}

.light {
    background-color: white;
    color: black;
}